/*----Navbar---*/
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding bottom shadow */
    margin-left: 0;
    margin-right: 0;
}

.navbar-brand {
    color: #333; /* Change brand text color */
}

.navbar-nav {
    margin-left: auto; /* Pushing nav links to the right */
}

.navbar-nav .nav-link {
    color: #333; /* Change link text color */
    margin-left: 20px; /* Adjust spacing between links */
}

.navbar-nav .nav-link:hover {
    color: #555; /* Change hover color */
}

/*----login---*/
.containerLogin {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.backBtn {
    background-color: white;
    color: #555;
}
.containerLogin h2 {
    text-align: center;
}
.containerLogin label {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    width: 100px;
    background-color: aquamarine;
}
.regBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
    width: 100px;
    background-color: aquamarine;
}